body{
  background: rgb(28, 122, 255)
}

h1{
  border: 5px dotted yellow;
}

p{
  border: 4px solid rgb(135, 25, 25);
  font-family: 'XoloniumRegular';
  font-weight: normal;
  font-style: normal;
}
