body{
  background-image: url(http://www.auburn.edu/cosam/departments/outreach/programs/PLTW/PLTW_logo_horizontal.jpg);
}

h1{
  border: 5px dotted black;
}

p{
  border: 4px solid darkred;
  font-family: 'XoloniumRegular';
  font-weight: normal;
  font-style: normal;
}
